@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Regular.ttf) format("truetype");
    font-weight: normal;
}
@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Bold.ttf) format("truetype");
    font-weight: bold;
}
@font-face {
    font-family: "Roboto-light-italic";
    src: url(../fonts/Roboto-LightItalic.ttf) format("truetype");
}

*, *::after, *::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;
    margin: 0 5rem;
}

main{
    display: flex;
    flex-direction: column;
}

/* ----SECTION---- */
section{
    flex: 1;
}
.hero{
    color: white;
    background-color: #1F2937;
    padding: .5rem 8rem;
}
.hero-text{
    color: #E5E7EB;
    font-size: 1.125rem;
}
.hero-title{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 3rem;
}
.hero__header{
    display: flex;
    justify-content: space-between;
}
.hero__header-left{
    flex: 1.25;
    color: #F9FAF8;
    font-size: 1.5rem;
}
.hero__header-right{
    flex: 1;
    display: flex;
    justify-content: space-between;
}
.hero__main{
    margin: 4.5rem 0;
    display: flex;  
}
.hero-button{
    border: none;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: .5rem 1.75rem;
    margin-top: .5rem;
    border-radius: .25rem;
    cursor: pointer;
}
.hero__main-left{
    flex: 1;
}
.hero__main-right{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #E5E7EB;
    background-color: rgba(229, 231, 235, .4);
}

.random__info{
    padding: 2rem 10rem 5rem 10rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.random__info-header{
    color: #1F2937;
    font-size: 2rem;
    font-weight: bold
}
.random__info-main{
    height: 15rem;
    width: 85%;
    display: flex;
}
.info-container{
    flex: 1;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.info-box{
    flex: 3;
    border: 2px solid #3882F6;
    border-radius: .5rem;
}
.info-text{
    flex: 1;
    text-align: center;
    color: #1F2937;
    font-weight: normal
}

.quote{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 10rem;
    background-color: #E5E7EB;
    font-size: 2rem;
}
.quote__text{
    font-family: "Roboto-light-italic", sans-serif;
}
.quote__author{
    align-self: flex-end;
    margin-right: 5.3rem;
    color: #1F2937;
}

.call_to_action{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 8rem;
}
.cta__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    padding: 2rem 4rem;
    background-color: #3882F6;
    border-radius: .5rem;
}
.cta-title{
    color: #F9FAF8;
    font-size: 1.125rem;
    font-weight: bold;
}
.cta-text{
    color: #E5E7EB;
    font-size: .75rem;
}
.cta-button{
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    background-color: #3882F6;
    padding: .5rem 1.75rem;
    margin-top: .5rem;
    border-radius: .25rem;
    cursor: pointer;
}


/* -----FOOTER---- */
footer{
    height: 4rem;
    border: 1px solid red;
}


